/* =====================
=== Styles de police === 
===================== */

@font-face {
    font-family: 'merriweatherregular';
    src: url("police/merriweather-regular-webfont.woff2") format("woff2"),
        url("police/merriweather-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherlight';
    src: url("police/merriweather-light-webfont.woff2") format("woff2"),
        url("police/merriweather-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherbold';
    src: url("police/merriweather-bold-webfont.woff2") format("woff2"),
        url("police/merriweather-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ==========================
=== Variables de couleurs ===
========================== */

:root {
    --darkbg: rgba(38, 38, 38, 1);
    --lightbg: rgba(245, 245, 245, 0.95);
    --table: rgba(83, 84, 89, 0.95);
    --tablehead: rgba(112, 128, 144, 0.9);
    --tabletitles: rgba(235, 242, 250, 1);
    --menulinks: rgba(202, 209, 224, 0.87);
    --linkhover: rgba(228, 35, 35, 0.99);
    --errorbg: rgba(250, 167, 167, 1);
    --successbg: rgba(179, 251, 179, 1);
}

/* ======================================
=== Reset des marges et style général ===
====================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightbg);
    font-family: 'merriweatherregular', 'Calibri';
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

main {
    display: flex;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    margin: 10px auto 20px;
}

.alert,
.error {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto auto 15px;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

.alert {
    background-color: var(--successbg);
    color: limegreen;
}

.error {
    background-color: var(--errorbg);
    color: brown;
}

textarea {
    resize: none;
}

/* ======================
=== Header et bandeau ===
====================== */

header {
    background-color: var(--darkbg);
}

header #headband {
    padding-top: 15px;
    padding-bottom: 15px;
}

header #headband a {
    color: white;
    font-size: 2rem;
}

/* =================
=== Menu latéral ===
================= */

#side-menu {
    width: 17%;
    display: flex;
    flex-direction: column;
    
}

#side-menu #navigation {
    padding-left: 15px;
    background-color: var(--darkbg);
    
}

#side-menu #navigation #admin-menu .admin-item {
    margin: 0 0 30px;
}

#side-menu #navigation #admin-menu .admin-item:first-child {
    margin-top: 15px;
}

#side-menu #navigation #admin-menu .admin-item:last-child {
    margin: 30px 0 15px;
}

#side-menu #navigation #admin-menu .admin-item a {
    color: var(--menulinks);
    transition: 0.2s ease;
}

#side-menu #navigation #admin-menu .admin-item .active {
    color: var(--linkhover);
}

#side-menu #navigation #admin-menu .admin-item a:hover {
    color: var(--linkhover);
}

#side-menu #navigation #admin-menu .admin-item a i {
    margin-right: 4px;
}

/* ====================
=== Tableau de bord ===
==================== */

#dashboard .admin-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

#dashboard .admin-table,
#dashboard .admin-table thead tr th,
#dashboard .admin-table tbody tr td {
    border: 2px solid var(--table);
    padding: 8px 4px;
    text-align: left;
    text-overflow: ellipsis;
}

#dashboard .admin-table thead tr th {
    background-color: var(--tablehead);
    color: var(--tabletitles);
}

#dashboard .admin-table tbody tr .action-case {
    text-align: center;
}

#dashboard .admin-table tbody tr .action-case a {
    color: black;
}

#dashboard .admin-table tbody tr .action-case a i {
    margin-right: 5px;
}

#dashboard .admin-table tbody tr .action-case a .action-view {
    color: deepskyblue;
}

#dashboard .admin-table tbody tr .action-case a .action-edit {
    color: limegreen;
}

#dashboard .admin-table tbody tr .action-case a .action-delete {
    color: red;
}

#dashboard .admin-table tbody tr .action-case a .action-mail {
    color: blue;
}

/* ====================
=== Lecture de mail === 
==================== */

#dashboard #title-mail {
    padding-bottom: 15px;
    border-bottom: 4px solid var(--table);
}

#dashboard .read-mail h3 {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--table);
}

#dashboard .read-mail p {
    margin: 25px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--table);
}

#dashboard .read-mail a {
    font-size: 2rem;
    color: blue;
}

/* =================================
=== Création / édition d'article === 
================================= */

#dashboard #new-article {
    display: block;
    width: fit-content;
    font-size: 1.1rem;
    padding: 3px 8px;
    background-color: darkslateblue;
    color: lightgrey;
}

#dashboard #new-article:hover {
    background-color: slateblue;
    color: white;
}

#dashboard form {
    margin-top: 20px;
}

#dashboard form p {
    margin: 10px auto;
}

#dashboard form p input {
    padding: 3px;
    width: 250px;
}

#dashboard form p textarea {
    width: 70%;
    height: 400px;
    padding: 3px;
}

#dashboard form button {
    color: lightgrey;
    background-color: darkblue;
    border: none;
    padding: 5px;
    width: 80px;
    cursor: pointer;
}

#dashboard form button:hover {
    color: white;
    background-color: blue;
}

@media(max-width:768px) {
    #side-menu {
        width: 7%;
    }

    #side-menu #navigation #admin-menu .admin-item a span {
        display: none;
    }
}