/* =====================
=== Styles de police === 
===================== */

@font-face {
    font-family: 'merriweatherregular';
    src: url("police/merriweather-regular-webfont.woff2") format("woff2"),
        url("police/merriweather-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherlight';
    src: url("police/merriweather-light-webfont.woff2") format("woff2"),
        url("police/merriweather-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherbold';
    src: url("police/merriweather-bold-webfont.woff2") format("woff2"),
        url("police/merriweather-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ==========================
=== Variables de couleurs ===
========================== */

:root {
    --darkbg: rgba(38, 38, 38, 1);
    --lightbg: rgba(245, 245, 245, 0.949);
    --shadow: rgba(112, 128, 144, 0.87);
    --menulinks: rgba(202, 209, 224, 0.87);
    --linkhover: rgba(228, 35, 35, 0.993);
}

/* ======================================
=== Reset des marges et style général ===
====================================== */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--lightbg);
    font-family: 'merriweatherregular', 'Calibri';
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

main {
    display: flex;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* ======================
=== Header et bandeau ===
====================== */

header {
    background-color: var(--darkbg);
}

header #bandeau {
    height: 50px;
    padding-top: 15px;
}

header #bandeau a {
    color: white;
    font-size: 2rem;
}

/* =================
=== Menu latéral ===
================= */

#side-menu {
    width: 17%;
    display: flex;
    flex-direction: column;
    
}

#side-menu #navigation {
    padding-left: 15px;
    background-color: var(--darkbg);
    
}

#side-menu #navigation #admin-menu .admin-item {
    margin: 0 0 30px;
}

#side-menu #navigation #admin-menu .admin-item:first-child {
    margin-top: 15px;
}

#side-menu #navigation #admin-menu .admin-item:last-child {
    margin: 30px 0 15px;
}

#side-menu #navigation #admin-menu .admin-item a {
    color: var(--menulinks);
    transition: 0.2s ease;
}

#side-menu #navigation #admin-menu .admin-item a:hover {
    color: var(--linkhover);
}

#side-menu #navigation #admin-menu .admin-item a i {
    margin-right: 4px;
}

#side-menu #navigation #admin-menu .admin-item .disconnect {
    color: var(--linkhover);
}

/* ====================
=== Tableau de bord ===
==================== */

#dashboard {
    padding-top: 10px;
}


