/* =====================
=== Styles de police === 
===================== */

@font-face {
    font-family: 'merriweatherregular';
    src: url("police/merriweather-regular-webfont.woff2") format("woff2"),
        url("police/merriweather-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherlight';
    src: url("police/merriweather-light-webfont.woff2") format("woff2"),
        url("police/merriweather-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherbold';
    src: url("police/merriweather-bold-webfont.woff2") format("woff2"),
        url("police/merriweather-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ==========================
=== Variables de couleurs === 
========================== */

:root {
    --darkbg: rgba(38, 38, 38, 1);
    --lightbg: rgba(245, 245, 245, 0.95);
    --shadow: rgba(112, 128, 144, 0.87);
    --formbg: rgba(196, 218, 247, 0.9);
    --bzh: rgba(102, 125, 155, 1);
    --menulinks: rgba(202, 209, 224, 0.87);
    --linkhover: rgba(228, 35, 35, 1);
    --border: rgba(176, 196, 222, 1);
    --errorbg: rgba(250, 167, 167, 1);
}

/* ======================================
=== Reset des marges et style général ===
====================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightbg);
    font-family: 'merriweatherregular', 'Calibri';
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

main {
    min-height: 100vh;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.txt-bzh {
    color: var(--bzh);
    font-style: italic;
}

h1 {
    padding: 120px 0 40px;
}

h1 .txt-bzh,
h2 .txt-bzh {
    margin-left: 10px;
}

/* ======================
=== Header et bandeau ===
====================== */

header {
    width: 100%;
    background-color: var(--darkbg);
    position: fixed;
}

header #headband {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =========
=== Logo === 
========= */

header #headband #logo {
    width: 120px;
    height: 90px;
}

header #headband #logo img {
    width: 100%;
    height: 100%;
}

/* ===========
=== Avatar ===
=========== */

header #headband #avatar {
    width: 65px;
    height: 65px;
}

header #headband #avatar img {
    object-fit: cover;
    border: 2px solid var(--border);
    border-radius: 50%;
    width: 100%;
}

/* =============== 
=== Navigation === 
=============== */

header #headband #navigation .nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--darkbg);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    left: -100%;
    top: 84px;
    gap: 0;
}

header #headband #navigation .nav-menu.active {
    left: 0;
}

header #headband #navigation .nav-menu .nav-item {
    margin: 10px 0;
}

header #headband #navigation .nav-menu .nav-item .nav-link {
    font-size: 0.9rem;
    color: var(--menulinks);
    transition: 0.2s ease;
}

header #headband #navigation .nav-menu .nav-item .nav-link:hover {
    color: var(--linkhover);
}

header #headband #navigation .nav-menu .nav-item .active {
    color: var(--linkhover);
}

header #headband #navigation .nav-menu .nav-item .nav-link i {
    margin-right: 5px;
}

/* ================
=== Menu burger === 
================ */

header #headband .hamburger {
    cursor: pointer;
}

header #headband .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--menulinks);
}
    
header #headband .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

header #headband .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

header #headband .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* ===================
=== Page d'accueil === 
=================== */

#banner {
    color: whitesmoke;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/front/andreas-brunn--mimtlr1_ek-unsplash.jpg");
    background-position: center;
    background-size: cover;
}

#banner h1 {
    margin-bottom: 20px;
}

#banner p {
    margin: 0 auto;
    padding: 10px 150px 5px;
}

#banner p:nth-child(3) {
    color: rgba(176, 196, 222, 1);
    font-style: italic;
    padding-bottom: 20px;
}

#home-page .home-titles {
    text-align: center;
    margin: 25px;
    padding: 15px;
    border-top: 2px solid var(--shadow);
    border-bottom: 2px solid var(--shadow);
}

#home-page #home-activities .txt-visitor {
    padding: 0 200px;
}

#home-page #home-activities .txt-visitor:first-child {
    margin-bottom: 10px;
}

#home-page #home-blog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#home-page #home-blog .home-actu {
    width: 450px;
    padding: 10px;
    background-color: var(--formbg);
    margin: 5px 0;
    box-shadow: 1px 1px 3px var(--shadow);
}

#home-page #home-blog .home-actu .home-actu-date {
    font-size: 0.85rem;
    color: lightslategrey;
}

#home-page #home-blog .home-actu .home-actu-body figure {
    margin: 5px 0 10px;
    width: 430px;
    height: 315px;
}

#home-page #home-blog .home-actu .home-actu-body figure img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#home-page #home-blog .home-actu .home-actu-body p {
    margin-bottom: 10px;
}

/* ============================ 
=== Page liste des articles === 
============================ */

#blog-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#blog-page .blog-layout {
    width: 400px;
    background-color: aqua;
    margin: 20px 0 20px;
    padding: 8px;
}

#blog-page .blog-layout .blog-title,
#blog-page .blog-layout .blog-date {
    width: 100%;
}

#blog-page .blog-layout img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#blog-pagination .pagination {
    margin: 10px 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#blog-pagination .pagination .page-nav a {
    color: var(--shadow);
}

#blog-pagination .pagination .active a {
    background-color: var(--shadow);
    color: var(--lightbg);
    font-size: 1.2rem;
    padding: 3px 5px;
}

#blog-pagination .pagination .hidden {
    display: none;
}

/* ======================
=== Lecture d'article === 
====================== */

#comments p {
    white-space: pre-line;
}

/* ================
=== Formulaires === 
================ */

.input-page {
    margin: 46px auto 46px;
    padding: 30px;
    width: 80%;
    text-align: center;
    background-color: var(--formbg);
    box-shadow: 1px 1px 3px var(--shadow);
}

.input-page h2 {
    margin-bottom: 25px;
}

.input-page p {
    margin: 15px 0;
}

.input-page label {
    text-align: left;
    font-size: 0.8rem;
}

.input-page p input {
    padding: 3px;
    width: 85%;
}

.input-page p button {
    border: none;
    padding: 5px;
    width: 80px;
    margin: auto 3px;
    color: white;
    cursor: pointer;
}

.input-page p button.submit {
    background-color: darkblue;
    color: lightgrey;
}

.input-page p button.submit:hover {
    background-color: blue;
    color: white;
}

.input-page p button.reset {
    background-color: darkred;
    color: lightgrey;
}

.input-page p button.reset:hover {
    background-color: red;
    color: white;
}

.input-page p textarea {
    padding: 1px;
    width: 80%;
    height: 300px;
}

.input-page .form-error {
    background-color: var(--errorbg);
    color: brown;
    margin-top: -15px;
    display: block;
    padding: 20px 0;
}


/* =======================
=== Création de compte === 
========================*/

.input-page .pswdSpace {
    margin-right: 11px;
}

.input-page .pswdSpace #password,
.input-page .pswdSpace #confirmPswd {
    width: 88%;
}

.input-page p i {
    color: grey;
    font-size: 0.8rem;
    margin-left: -30px;
    cursor: pointer;
    display: inline;
}

.input-page #pswdMessage {
    display: none;
    text-align: left;
    font-size: 0.7rem;
    margin: 20px 25px;
    padding: 5px 25px;
    background-color: var(--border);
}

.input-page #pswdMessage .valid {
    color: green;
}

.input-page #pswdMessage .valid::before {
    position: relative;
    left: -7px;
    content: "\2714";
}

.input-page #pswdMessage .invalid {
    color: red;
}
  
.input-page #pswdMessage .invalid:before {
    position: relative;
    left: -7px;
    content: "\2716";
}

/* ============
=== Contact === 
============ */

#contact-page {
    width: 80%;
}

/* ===========
=== Footer === 
=========== */

footer {
    background-color: var(--darkbg);
    margin-top: 40px;
    width: 100%;
}

footer #footband {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

footer #footband #outlinks {
    display: flex;
    justify-content: space-between;
}

footer #footband #outlinks .socials {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: white;
    font-size: 1.8rem;
    transition: 0.2s ease;
}

footer #footband #outlinks .socials:hover {
    background-color: var(--linkhover);
}

footer #footband #outlinks .socials i {
    padding: 22%;
}

footer #footband #outlinks #facebook {
    color: rgba(24, 119, 242, 1);
}

footer #footband #outlinks #twitter {
    color: rgba(29, 155, 240, 1);
}


footer #footband #outlinks #instagram {
    color: rgba(250, 126, 30, 1);
}

footer #footband p {
    color: var(--menulinks);
    font-size: 0.8rem;
}

footer #footband p a {
    color: var(--menulinks);
    transition: 0.2s ease;
}

footer #footband p a:hover {
    color: var(--linkhover);
} 

/* ==================
=== Media queries === 
================== */

@media(min-width:768px) {

    header #headband #navigation .nav-menu {
        position: static;
        display: flex;
        flex-direction: row;
        width: auto;
        text-align: left;
        left: auto;
        top: auto;
        gap: 25px;
    }
    header #headband .hamburger {
        display: none;
    }

    .input-page {
        width: 600px;
    }
}

