/* =====================
=== Styles de police === 
===================== */

@font-face {
    font-family: 'merriweatherregular';
    src: url("police/merriweather-regular-webfont.woff2") format("woff2"),
        url("police/merriweather-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherlight';
    src: url("police/merriweather-light-webfont.woff2") format("woff2"),
        url("police/merriweather-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherbold';
    src: url("police/merriweather-bold-webfont.woff2") format("woff2"),
        url("police/merriweather-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ==========================
=== Variables de couleurs === 
========================== */

:root {
    --darkbg: rgba(38, 38, 38, 1);
    --lightbg: #f5f5f5f2;
    --shadow: rgba(112, 128, 144, 0.87);
    --bigtitles: rgba(176, 196, 222, 1);
    --bzh: rgb(102, 125, 155);
    --menulinks: rgba(202, 209, 224, 0.87);
    --linkhover: rgba(206, 33, 33, 0.993);
}

/* ======================================
=== Reset des marges et style général ===
====================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightbg);
    font-family: 'merriweatherregular', 'Calibri';
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.txt-bzh {
    color: var(--bzh);
    font-style: italic;
}

/* ======================
=== Header et bandeau ===
====================== */

header {
    background-color: var(--darkbg);
    box-shadow: 1px 1px 10px var(--shadow);
    /* position: fixed; */
}

header #bandeau {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =========
=== Logo === 
========= */

header #bandeau #logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header #bandeau #logo #titre {
    color: white;
    font-size: 3rem;
}

header #bandeau #logo #sous-titre {
    font-size: 1.68rem;
    color: var(--bigtitles);
}

/* =============== 
=== Navigation === 
=============== */

header #bandeau #links #user-space #user-menu {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

header #bandeau #links #user-space #user-menu .user-item {
    margin: 10px 0 15px;
}

header #bandeau #links #user-space #user-menu .user-item .user-link {
    font-size: 0.8rem;
    color: var(--menulinks);
    transition: 0.2s ease;
}

header #bandeau #links #user-space #user-menu .user-item .user-link:hover {
    color: var(--linkhover);
}

header #bandeau #links #navigation .nav-menu {
    display: flex;
    gap: 25px;
}

header #bandeau #links #navigation .nav-menu .nav-item {
    margin: 10px 0;
}

header #bandeau #links #navigation .nav-menu .nav-item .nav-link {
    font-size: 1.2rem;
    color: var(--menulinks);
    transition: 0.2s ease;
}

header #bandeau #links #navigation .nav-menu .nav-item .nav-link:hover {
    color: var(--linkhover);
}

/* ================
=== Menu burger === 
================ */

header #bandeau .hamburger {
    display: none;
    cursor: pointer;
}

header #bandeau .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--menulinks);
}

/* ==============
=== Connexion === 
============== */

#login h1 .txt-bzh {
    margin-left: 10px;
}

/* =======================
=== Création de compte === 
======================= */

#register h1 .txt-bzh {
    margin-left: 10px;
}

/* ===========
=== Footer === 
=========== */

footer {
    background-color: var(--darkbg);
    margin-top: 100px;
}

/* ==================
=== Media queries === 
================== */

@media(max-width:768px) {
    header #bandeau .hamburger {
        display: block;
    }
    
    header #bandeau .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    header #bandeau .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    header #bandeau .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    header #bandeau #navigation .nav-menu {
        position: fixed;
        flex-direction: column;
        background-color: var(--darkbg);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        left: -100%;
        top: 84px;
        gap: 0;
    }

    header #bandeau #navigation .nav-menu.active {
        left: 0;
    }
}

